.sign-in-and-sign-up {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 8;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-color: rgba(11, 15, 62, 0.712);
}
